[package]
name = "kconfig"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.3.2", features = ["derive"] }
nom = "7.1.3"
nom_locate = "4.1.0"
regex = "1.8.4"
serde = { version = "1.0.163", features = ["derive"] }

serde_json = "1.0.96"
walkdir = "2.3.3"

[dev-dependencies]
test-case = "3.1.0"
