[package]
name = "nom-kconfig"
version = "0.2.1"
edition = "2021"
authors = ["yann Prono"]
repository = "https://github.com/Mcdostone/nom-kconfig"
homepage = "https://github.com/Mcdostone/nom-kconfig"
license = "MIT"
readme = "README.md"
description = "A Kconfig parser"
categories = ["parsing"]
keywords = ["parser",  "parsing", "kconfig", "linux-kernel"]
rust-version = "1.56"
exclude = [
    ".github",
]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--generate-link-to-definition"]


[workspace]
members = [
    "fuzzing",
]

[dependencies]
nom = "7.1.3"
nom_locate = "5.0.0"
regex = "1.11.1"
serde = { version = "1.0.217", features = ["derive"], optional = true }

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }
walkdir = "2.5.0"

[[bench]]
name = "my_benchmark"
harness = false

[features]
default = ["display", "hash", "serialize", "deserialize"]
display = []
hash = []
serialize = ["dep:serde"]
deserialize = ["dep:serde"]
