name: Build

on:
  schedule:
    - cron: "0 0 1 * *" # First day of every month
  push:
    paths-ignore:
      - changelog
    branches-ignore:
      - main
  workflow_dispatch:
  pull_request:
env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: "--deny warnings"
  MINIMUM_SUPPORTED_RUST_VERSION: 1.85.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable
    - uses: Swatinem/rust-cache@v2
    - name: Run cargo check
      run: cargo check --all-features --locked --release --all

  hack:
    name: Cargo hack
    needs: check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2  
      - uses: taiki-e/install-action@cargo-hack
      - run: cargo hack check --feature-powerset --no-dev-deps

  build:
    name: Build w/o features
    needs: check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo build
        run: cargo build

  lockfile:
    name: Lockfile
    needs: check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: Check lockfile is updated
        run: cargo update --locked

  clippy:
    needs: check
    name: Clippy
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo clippy
        run: cargo clippy --all-targets --all-features -- --deny warnings

  license:
    needs: check
    name: License
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: Install git-cliff
        run: cargo install --locked cargo-deny
      - name: Run cargo deny
        run: cargo deny check licenses

  format:
    needs: check
    name: Format
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  unused-dependencies:
    needs: check
    name: Unused dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: Swatinem/rust-cache@v2
      - uses: bnjbvr/cargo-machete@main

  tests:
    needs: check
    name: Tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo install cargo-nextest --locked
      - run: cargo nextest run --locked
        env:
          RUST_BACKTRACE: full
          CI: "true"

  doc:
    needs: check
    name: Documentation
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: Build documentation
        run: cargo doc --no-deps --document-private-items --verbose

  shear:
    name: Shear
    runs-on: ubuntu-latest
    needs: [check]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: cargo install --locked cargo-shear
      - name: Run cargo Shear
        run: cargo shear

  lychee:
    name: Lychee
    runs-on: ubuntu-latest
    needs: [check]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: lycheeverse/lychee-action@v2
        name: Link Checker
        # https://github.com/lycheeverse/lychee/issues/1405
        with:
          args: --accept '100..=103,200..=299,429' .

  typos:
    name: Typos
    runs-on: ubuntu-latest
    needs: [check]
    permissions:
      contents: read
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v6
    - name: Check spelling of the project
      uses: crate-ci/typos@master

  cargo-deny:
    name: Cargo deny
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [check]
    steps:
    - uses: actions/checkout@v6
    - uses: EmbarkStudios/cargo-deny-action@v2
